.a2 {
  width: 30px;
  border-radius: 8px;
}
.a {
  display: flex;
  align-items: center;
  gap: 30px;
}
.a a {
  text-decoration: none;
  font-size: 16px;
  color: #191919;
  padding-bottom: 8px;
}
.a a:hover {
  color: #ff6900;
  border-bottom: 2px solid #ff6900;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #fff;
  z-index: 10;
}
